/*----- COLOURS -----*/

/* Black Series */
.black{color:#000}
.black-90{color:rgba(0,0,0,.9)}
.black-80{color:rgba(0,0,0,.8)}
.black-70{color:rgba(0,0,0,.7)}
.black-60{color:rgba(0,0,0,.6)}
.black-50{color:rgba(0,0,0,.5)}
.black-40{color:rgba(0,0,0,.4)}
.black-30{color:rgba(0,0,0,.3)}
.black-20{color:rgba(0,0,0,.2)}
.black-10{color:rgba(0,0,0,.1)}
.black-05{color:rgba(0,0,0,.05)}

/* White Series */
.white{color:#fff}
.white-90{color:rgba(255,255,255,.9)}
.white-80{color:rgba(255,255,255,.8)}
.white-70{color:rgba(255,255,255,.7)}
.white-60{color:rgba(255,255,255,.6)}
.white-50{color:rgba(255,255,255,.5)}
.white-40{color:rgba(255,255,255,.4)}
.white-30{color:rgba(255,255,255,.3)}
.white-20{color:rgba(255,255,255,.2)}
.white-10{color:rgba(255,255,255,.1)}
.white-05{color:rgba(255,255,255,.05)}

/* Neutral Series */
.near-black{color:#111}
.dark-gray{color:#333}
.mid-gray{color:#555}
.gray{color:#777}
.silver{color:#999}
.light-silver{color:#aaa}
.moon-gray{color:#ccc}
.light-gray{color:#eee}
.near-white{color:#f4f4f4}


.color-inherit{color:inherit}

/* Theme Colours */
.primary-01{color:rgb(0, 103, 238)}
.primary-02{color:rgba(1, 82, 129, 0.5)}
.secondary-01{color:rgb(104, 0, 201)}
.secondary-02{color:rgb(77, 189, 253)}
.blue3{color:rgb(78, 189, 253)}
.gold-T{color: rgba(253, 188, 9, 0.75);}
.gold{color: rgb(253, 188, 9);}
.red{color: red;}

/* Theme Gradients */


/* ----- Mobo First Media Queries -----*/       

@media(min-width:512px) { 
    
} 

@media(min-width:768px){ 

}

@media(min-width:1024px) {

}

@media(min-width:1280px) { 

}

/* --x-- Mobo First Media Queries --x--*/